<script type="text/javascript">
    var menu = {
        base_href: "/2017/zh-cn",
        name : "目录",
        children: [{
            name: "密院学习",
            children: [{
                name: "大一秋季课程",
                href: "/fall-course.html"
            },{
                name: "常用网站",
                href: "/website.html"
            },{
                name: "选课指南",
                href: "/course-selection.html"
            },{
                name: "诚信守则和平均绩点",
                href: "/hc-gpa.html"
            }]
        }]
    }
</script>